.background {
    /* background-image: url(../img/back.jpg); */
    background: linear-gradient(to bottom, #004b9b, #00122e);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
}
.txtnav{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 25px
}
.navbar-expand-lg {
    /* background-image: url(../img/nav-back.jpg); */
    background: linear-gradient(to left, #004b9b, #00122e);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.image-container img {
  max-width: 30%;
  width: 100%;
  height: auto;
  margin: auto;
}

@media (max-width: 768px) {
  .image-container img {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .image-container img {
    max-width: 70%;
  }
}

.team-title-animated {
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    padding-top: 5%;
    width: 90%;
    max-width: 600px;

    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}
.team-title {
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
  padding-top: 5%;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.card {
  width: 900px;
  max-width: 500px;
}

.team-card {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  scale: 0.9;
}
.team-card:hover {
  transform: scale(1.05);
}
.team-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/*login  e backvideo*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding: 12px;
    justify-content: center;
  }
  
  .logo-container {
    text-align: center;
  }
  
  .logo {
    height: 70px;
    width: auto;
    margin: 0 auto;
  }
  
  .heading {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .form-container {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff; 
  }
  
  .label-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-link {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff; 
    text-decoration: none;
  }
  
  .forgot-link:hover {
    color: #6d6d6d 
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d1d5db; 
    color: #1f2937;
  }
  
  .input:focus {
    border-color: #075AC6; 
    outline: none;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #0e1d7d;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0a1557; 
  }
  
  .signup-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #ffffff; 
  }
  
  .signup-link {
    color: #e2e2e2; 
    font-weight: 600;
    text-decoration: none;
  }
  
  .signup-link:hover {
    color: #ffffff;
  }
  
  .video-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: -1; 
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    opacity: 0.5;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%); 
    object-fit: cover;
    filter: brightness(0.5); 
}

/* Input do Index */
.input-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.input-field {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  width: 300px;
  margin-right: auto;
  outline: none;
  transition: border-color 0.3s;

  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}
.input-field::placeholder {
  color: #999;
  font-weight: bolder;
}
.submit-btn {
  padding: 10px 20px;
  background-color: #003d7d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:active {
  background-color: #004085;
}


/* Alert card */

.feedback-card {
  position: fixed;
  top: 90px;
  right: 90px;
  z-index: 9999;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.feedback-card.success {
  border-left: 5px solid #4caf50;
  background-color: #e8f5e9;
  color: #2e7d32;
}

.feedback-card.error {
  border-left: 5px solid #f44336;
  background-color: #ffebee;
  color: #c62828;
}

.d-none {
  display: none;
}